body{
	background-color: #fff;
	font-family: arial;
	margin: 0 auto;
	min-width: 304px;
	position: relative;
}
a{
	text-decoration: none;
}
img{
	width: 100%;
}
.wrap{
	margin: 0;
	min-width: 304px;
	position: relative;
	display: flex;
	margin: auto;
	flex-direction: column;
}
.logo{
	display: block;
	width: 110px;
}
.logo:before{
	content: '';
	display: block;
	background-image: url(../images/logo.png);
	width: 150px;
	height: 32px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.header_menu{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
.header_menu a{
	color: #000;
	padding: 0 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
.header_menu .functional, .features, .review{ 
	border-right: 1px #000 solid;
 }

.header_menu li:hover{
	border-bottom: 2px solid #ff3333;
	margin-bottom: -2px;
}
.contact_wrap{
	display: flex;
	flex-direction: column;
}
.contact{
	font-size: 12px;
	color: #000;
	height: 40px;
	margin: 16px 0;
	align-self: center;
	width: 254px;
	text-align: right;
}
.contact:before{
	content: '';
	display: block;
	background-image: url('../images/phone.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	float: left;
}
.contact:after{
	content: '+38 044 800 80 08';
	display: block;
	font-size: 24px;
}
.logo_small{
	display: flex;
	background-color: #f6f3f0;
	padding: 48px 0;
	justify-content: center;
}
.logo_small img{
	max-width: 304px;
	max-height: 128px;
}
.country_choose{
	font-size: 32px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 160px;
	color: #fff;
	background-color: #ff3333;
	font-family: 'Ropa Sans', sans-serif;
	font-weight: lighter;
}
video{
	border: 0;
	margin: 32px auto;
	width: 100%;
	max-width: 640px;
}
.main_descr{
	font-size: 14px;
	max-width: 360px;
}
.descr_date{
	font-size: 10px;
	font-style: italic;
}
.normal_text{
	font-style: normal;
	font-size: 12px;
	text-align: center;
}
.form_heading{
	font-weight: lighter;
	text-align: center;
}
.search{
	border: 1px solid #737373;
	padding: 8px;
}
.wrap_get{
	display: flex;
	justify-content: center;
	margin: 32px 0;
}
.main_btn{
	padding: 9px 12px;
	background-color: #ff3333;
	color: #fff;
	border: 0;
	width: auto;
	text-transform: uppercase;
}
.functional_features{
	background-color: #f6f4f5;
	padding: 16px 0;
}
.functional_text{
	text-align: center;
	font-size: 24px;
	font-weight: lighter;
}
.features_block{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img_wrap{
	position: relative;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	background-color: #ffb500;
}
.img_wrap img{
	display: block;
	margin: 0 auto;
	position: relative;
	width: 80%;
	min-height: 75px;
	top: -10px;
}
.features_block h5{
	font-weight: lighter;
	text-align: center;
}
.blue{
	background-color: #002381;
}
.cyan{
	background-color: #00b1b1;
}
.light_fio{
	background-color: #616bbd;
}
.fio{
	background-color: #780859;
}
.green{
	background-color: #64c321;
}
.red{
	background-color: #ff3333;
}
.fio img{
	position: relative;
	left: -14px;
}
.red img{
	width: 100%;
	top: -24px;
	right: -6px;
}
.more_btn{
	border: 1px solid #ccc;
	background-color: initial;
	padding: 8px 16px;
}
.features_text{
	text-align: center;
	font-weight: lighter;
	font-size: 24px;
}
.features_wrap{
	max-width: 508px;
	align-self: flex-end;
	padding:0 16px;
}
.feature_wrap:before{
	content: '';
	display: block;
	background-image: url(../images/pin.png);
	background-size: 100%;
}
.wrap_bg_img{
	background-image: url(../images/paper_pen.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-size: 80px;
	margin: 16px 0;
}
.wrap_bg_img:before{
	content: '';
	display: block;
	background-image: url(../images/red_glasses.png);
	width: 65px;
	height: 65px;
 	background-size: 100%;
 	position: absolute;
 	right: 0;
 	top: -4px;
}
.features_wrap h3{
	font-size: 20px;
}
.finance_wrap h3{
	font-size: 20px;
}
.finance_wrap h4 {
	font-size: 14px;
}
.finance_wrap{
	padding-left: 16px;
	margin: 0;
	max-width: 608px;
	align-self: center;
	background-image: url(../images/pin.png);
	background-repeat: no-repeat;
	background-size: 55px;
	background-position: bottom right;
	margin-right: 24px;
	overflow: hidden;
}
.finance_wrap:after{
	display: block;
	content: '';
	background-image: url(../images/flower.png);
	background-size: 100%;
	width: 85px;
	height: 85px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
}
.finance_wrap:before{
	display: block;
	content: '';
	background-image: url(../images/calc.png);
	background-size: contain;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	right: 0;
}
.finance_ul{
	list-style-type: none;
	padding: 0;
}
.feedback{
	text-align: center;
	font-weight: lighter;
	font-size: 24px;
}
.wrap_video{
	margin: 64px 0;
}
.wrap_video video{
	max-width: 320px;
}
.country_wrap{
	margin: 16px 0;
}
.country_wrap:after{
	content: '';
	display: block;
	background-image: url(../images/map.png);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	width: 224px;
	height: 224px;
	position: absolute;
	right: 0;
}
.clients_count{
	font-size: 60px;
	position: relative;
	font-weight: bolder;
	z-index: 2;
	display: flex;
	align-items: center;
	margin: 0;
}
.clients_count:before{
	content: 'Кількість клієнтів: ';
	display: block;
	font-size: 24px;
	font-weight: lighter;
	float: left;
	margin-right: 24px;

}
.claims_get{
	font-size: 60px;
	position: relative;
	font-weight: bolder;
	z-index: 2;
	display: flex;
	align-items: center;
	margin: 0;
}
.claims_get:before{
	content: 'Отримано заявок: ';
	display: block;
	font-size: 24px;
	font-weight: lighter;
	float: left;
	margin-right: 24px;
	height: 69px;
	display: flex;
	align-items: center;
	border-top: 2px solid #ff3333;
	margin-left: 2px;
}
.country_wrap span{
	padding:0 4px;
	font-size: 14px;
}
.tariffs_text{
	text-align: center;
	font-weight: lighter;
	margin: 64px 0 0;
}
.tariffs_block{
	height: 480px;
	max-width: 148px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px dashed #ccc;
	margin: 16px;
	padding: 48px 64px;
}
.tariffs_block h2{
	margin: 0;
	font-weight: bolder;
	font-size: 65px;
}
.tariffs_block span{
	font-size: 26px;
}
.tariffs_block p{
	font-size: 18px;
}
.buy_btn{
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #ccc;
	font-size: 18px;
	font-weight: lighter;
	padding: 8px 24px;
	position: relative;
	bottom: -248px;
	z-index: 2;
}
.tariffs_block_small:after{
	content: '';
	display: block;
	background-image: url(../images/folder_s.png);
	width: 54px;
	height: 240px;
	background-repeat: no-repeat;
	position: relative;
	bottom: -84px;
}
.tariffs_block_medium:after{
	content: '';
	display: block;
	background-image: url(../images/folder_m.png);
	width: 174px;
	height: 246px;
	background-repeat: no-repeat;
	position: relative;
	bottom: -82px;
}
.tariffs_block_large:after{
	content: '';
	display: block;
	background-image: url(../images/folder_l.png);
	width: 252px;
	height: 268px;
	background-repeat: no-repeat;
	position: relative;
	bottom: -58px;
}
.cost{
	width: 180px;
	text-align: center;
}
.wrap_text_consulting{
	background-color: #f6f3f0;
}
.text_consulting ~ button{
	font-size: 20px;
	padding: 16px 32px;
	margin: 16px auto;
}
.text_consulting h2{
	font-size: 24px;
	font-weight: lighter;
	text-align: center;
}
.text_consulting span{
	font-size: 14px;
	display: block;
	text-align: center;
}