body{
	background-color: #fff;
	font-family: arial;
	margin: 0 auto;
	min-width: 304px;
	position: relative;
}
a{
	text-decoration: none;
}
img{
	width: 100%;
}
.wrap{
	margin: 0 8px;
	min-width: 304px;
	position: relative;
}
.logo{
	display: block;
	width: 110px;
}
.logo:before{
	content: '';
	display: block;
	background-image: url(../images/logo.png);
	width: 150px;
	height: 32px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.header_menu{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
.header_menu a{
	color: #000;
	padding: 0 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
.header_menu .functional, .features, .review{ 
	border-right: 1px #000 solid;
 }

.header_menu li:hover{
	border-bottom: 2px solid #ff3333;
	margin-bottom: -2px;
}
.contact{
	font-size: 12px;
	color: #000;
	height: 40px;
	display: block;
	margin: 16px auto;
}
.contact:before{
	content: '';
	display: block;
	background-image: url('../images/phone.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	float: left;
}
.contact:after{
	content: '+38 044 800 80 08';
	display: block;
	font-size: 24px;
}
.logo_small{
	display: block;
	background-color: #f6f3f0;
	padding: 72px;
}
.country_choose{
	font-size: 32px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 160px;
	color: #fff;
	background-color: #ff3333;
	font-family: 'Ropa Sans', sans-serif;
	font-weight: lighter;
}
iframe{
	border: 0;
	min-width: 304px;
}
.main_descr{
	font-size: 14px;
}
.descr_date{
	font-size: 10px;
	font-style: italic;
}
.normal_text{
	font-style: normal;
	font-size: 12px;
	text-align: center;
}
.form_heading{
	font-weight: lighter;
	text-align: center;
}
.search{
	border: 1px solid #737373;
	padding: 8px;
}
.wrap_get{
	display: flex;
	justify-content: center;
	margin: 32px 0;
}
.main_btn{
	padding: 9px 12px;
	background-color: #ff3333;
	color: #fff;
	border: 0;
	width: auto;
	text-transform: uppercase;
}
.functional_features{
	background-color: #f6f4f5;
	padding: 16px 0;
}
.functional_text{
	text-align: center;
	font-size: 24px;
	font-weight: lighter;
}
.features_block{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img_wrap{
	position: relative;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	background-color: #ffb500;
}
.img_wrap img{
	display: block;
	margin: 0 auto;
	position: relative;
	width: 80%;
	min-height: 75px;
	top: -10px;
}
.features_block h5{
	font-weight: lighter;
	text-align: center;
}
.blue{
	background-color: #002381;
}
.cyan{
	background-color: #00b1b1;
}
.light_fio{
	background-color: #616bbd;
}
.fio{
	background-color: #780859;
}
.green{
	background-color: #64c321;
}
.red{
	background-color: #ff3333;
}
.fio img{
	position: relative;
	left: -14px;
}
.red img{
	width: 100%;
	top: -24px;
	right: -6px;
}
.more_btn{
	border: 1px solid #ccc;
	background-color: initial;
	padding: 8px 16px;
}