*{
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	height: 100%;
	background-color: #fff;
	font-family: arial;
	margin: 0 auto;
	min-width: 304px;
	position: relative;
}
a{
	text-decoration: none;
}
img{
	width: 100%;
}
.img_map{
	position: absolute;
	top: 0;
	right: 0;
	max-width: 760px;
}
.wrap{
	margin: 0;
	min-width: 304px;
	position: relative;
	display: flex;
	margin: auto;
	flex-direction: column;
}
.sticky_wrap{
	min-height: 100%;
	margin-bottom: -106px;
}
.sticky_wrap:after{
	content: '';
	display: block;
	height: 106px;
}
.logo{
	display: block;
	width: 110px;
}
.logo:before{
	content: '';
	display: block;
	background-image: url(../images/logo.png);
	width: 150px;
	height: 32px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.header_menu{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
.header_menu a{
	color: #000;
	padding: 0 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
.header_menu .functional, .features, .review{ 
	border-right: 1px #000 solid;
 }

.header_menu li:hover{
	border-bottom: 2px solid #ff3333;
	margin-bottom: -2px;
}
.contact_wrap{
	display: flex;
	flex-direction: column;
}
.contact{
	font-size: 12px;
	color: #000;
	height: 40px;
	margin: 16px 0;
	align-self: center;
	width: 254px;
	text-align: right;
}
.contact:before{
	content: '';
	display: block;
	background-image: url('../images/phone.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	float: left;
}
.contact:after{
	content: '+38 044 800 80 08';
	display: block;
	font-size: 24px;
}
.update_list{
	text-decoration: underline;
	color: #ff3333;
	font-size: 14px;
}
.logo_small{
	display: flex;
	background-color: #f6f3f0;
	padding: 48px 0;
	justify-content: center;
}
.logo_small img{
	max-width: 304px;
	max-height: 128px;
}
.country_choose{
	font-size: 32px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 160px;
	color: #fff;
	background-color: #ff3333;
	font-family: 'Ropa Sans', sans-serif;
	font-weight: lighter;
}
video{
	border: 0;
	margin: 32px auto;
	width: 100%;
	max-width: 504px;
}
.text_wrap{
	display: flex;
		flex-direction: column;
		align-items: center;
}
.main_descr{
	font-size: 14px;
	max-width: 360px;
}
.descr_date{
	font-size: 10px;
	font-style: italic;
}
.normal_text{
	font-style: normal;
	font-size: 12px;
	text-align: center;
	margin: 0;
}
.form_heading{
	font-weight: lighter;
	text-align: center;
	margin-bottom: 2px;
}
.search{
	border: 1px solid #737373;
	padding: 8px;
}
.wrap_get{
	display: flex;
	justify-content: center;
	margin: 16px 0 32px;
}
.main_btn{
	padding: 9px 12px;
	background-color: #ff3333;
	color: #fff;
	border: 0;
	width: auto;
	text-transform: uppercase;
}
.functional_features{
	background-color: #f6f4f5;
	padding: 16px 0;
}
.functional_text{
	text-align: center;
	font-size: 24px;
	font-weight: lighter;
}
.features_block{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img_wrap{
	position: relative;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	background-color: #ffb500;
}
.img_wrap img{
	display: block;
	margin: 0 auto;
	position: relative;
	width: 80%;
	min-height: 75px;
	top: -10px;
}
.features_block h5{
	font-weight: lighter;
	text-align: center;
}
.blue{
	background-color: #002381;
}
.cyan{
	background-color: #00b1b1;
}
.light_fio{
	background-color: #616bbd;
}
.fio{
	background-color: #780859;
}
.green{
	background-color: #64c321;
}
.red{
	background-color: #ff3333;
}
.fio img{
	position: relative;
	left: -14px;
}
.red img{
	width: 100%;
	top: -24px;
	right: -6px;
}
.more_btn{
	border: 1px solid #ccc;
	background-color: initial;
	padding: 8px 16px;
}
.features_text{
	text-align: center;
	font-weight: lighter;
	font-size: 24px;
}
.features_wrap{
	max-width: 508px;
	align-self: flex-end;
	padding:0 16px;
}
.feature_wrap:before{
	content: '';
	display: block;
	background-image: url(../images/pin.png);
	background-size: 100%;
}
.wrap_bg_img{
	background-image: url(../images/paper_pen.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-size: 80px;
	margin: 16px 0;
}
.wrap_bg_img:before{
	content: '';
	display: block;
	background-image: url(../images/red_glasses.png);
	width: 65px;
	height: 65px;
 	position: absolute;
 	background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
 	right: 0;
 	top: -4px;
}
.features_wrap h3{
	font-size: 20px;
}
.finance_wrap h3{
	font-size: 20px;
}
.finance_wrap h4 {
	font-size: 14px;
}
.finance_wrap{
	padding-left: 16px;
	margin: 0;
	max-width: 608px;
	align-self: center;
	background-image: url(../images/pin.png);
	background-repeat: no-repeat;
	background-size: 55px;
	background-position: bottom right;
	margin-right: 24px;
	overflow: hidden;
}
.finance_wrap:after{
	display: block;
	content: '';
	background-image: url(../images/flower.png);
	background-size: 100%;
	width: 85px;
	height: 85px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
}
.finance_wrap:before{
	display: block;
	content: '';
	background-image: url(../images/calc.png);
	background-size: contain;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	right: 0;
}
.finance_ul{
	list-style-type: none;
	padding: 0;
}
.feedback{
	text-align: center;
	font-weight: lighter;
	font-size: 24px;
}
.wrap_video{
	margin: 64px 0;
}
.wrap_video video{
	max-width: 320px;
}
.country_wrap{
	margin: 16px auto;
	height: 460px;
}
.clients_count{
	font-size: 60px;
	position: relative;
	font-weight: bolder;
	z-index: 2;
	display: flex;
	align-items: center;
	margin: 0;
}
.clients_count:before{
	content: 'Кількість клієнтів: ';
	display: block;
	font-size: 24px;
	font-weight: lighter;
	float: left;
	margin-right: 24px;

}
.claims_get{
	font-size: 60px;
	position: relative;
	font-weight: bolder;
	z-index: 2;
	display: flex;
	align-items: center;
	margin: 0;
}
.claims_get:before{
	content: 'Отримано заявок: ';
	display: block;
	font-size: 24px;
	font-weight: lighter;
	float: left;
	margin-right: 24px;
	height: 69px;
	display: flex;
	align-items: center;
	border-top: 2px solid #ff3333;
	margin-left: 2px;
}
.country_wrap span{
	padding:0 4px;
	font-size: 14px;
}
.tariffs_text{
	text-align: center;
	font-weight: lighter;
	margin: 64px 0 0;
}
.tariffs_block{
	height: 548px;
	max-width: 248px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px dashed #ccc;
	margin: 16px auto;
	padding: 48px 64px;
}
.tariffs_block h2{
	margin: 0;
	font-weight: bolder;
	font-size: 65px;
}
.tariffs_block span{
	font-size: 26px;
}
.tariffs_block p{
	font-size: 18px;
}
.buy_btn{
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #ccc;
	font-size: 18px;
	font-weight: lighter;
	padding: 8px 24px;
	position: relative;
	bottom: -218px;
	z-index: 2;
}
.tariffs_block_small:after{
	content: '';
	display: block;
	background-image: url(../images/folder_s.png);
	width: 54px;
	height: 240px;
	background-repeat: no-repeat;
	position: relative;
	bottom: -54px;
}
.tariffs_block_medium:after{
	content: '';
	display: block;
	background-image: url(../images/folder_m.png);
	width: 174px;
	height: 246px;
	background-repeat: no-repeat;
	position: relative;
	bottom: -52px;
}
.tariffs_block_large:after{
	content: '';
	display: block;
	background-image: url(../images/folder_l.png);
	width: 252px;
	height: 268px;
	background-repeat: no-repeat;
	position: relative;
	bottom: -48px;
}
.cost{
	width: 180px;
	text-align: center;
}
.wrap_text_consulting{
	background-color: #f6f3f0;
}
.main_btn_consulting{
	font-size: 20px;
	padding: 16px 32px;
	margin: 16px auto;
}
.text_consulting h2{
	font-size: 24px;
	font-weight: lighter;
	text-align: center;
}
.text_consulting span{
	font-size: 14px;
	display: block;
	text-align: center;
}
.know_more_wrap:after{
	display: block;
	content: '';
	background-image: url(../images/stacked_folders.png);
	background-size: contain;
	position: absolute;
	background-position: right;
	right: 0;
	bottom: 16px;
	z-index: -1;
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
}
.know_more_btn{
	border: 1px solid #000;
	background-color: initial;
	font-size: 14px;
	padding: 8px 40px 24px 64px;
	margin: 0 auto;
	display: block;
}
.know_more_btn:hover{
	border: 1px solid #ccc;
	color: #ccc;
}
.main_btn:hover{
	background-color: #e50404;
}
.know_more_btn:before{
	content: '+';
	display: block;
	width: 15px;
	height: 15px;
	font-weight: bold;
	font-size: 32px;
	position: relative;
	z-index: 2;
	left: -24px;
	top: -2px;
}
.know_more_wrap h3{
	text-align: center;
	font-weight: lighter;
}
.know_more_wrap p{
	margin: 2px 0 24px;
	padding-left: 8px;
}
.know_more_wrap span{
	font-size: 12px;
	padding-left: 8px;
}
.answer{
	font-size: 12px;
}
.question{
	font-size: 15px;
}
footer{
	background-color: #d7d7d7;
	padding: 16px 8px;
	margin: 32px 0 0;
	height: 198px;
}
.footer_menu{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	font-size: 12px;
}
.footer_menu a{
	color: #000;
}
.social_media{
	display: flex;
	justify-content: center;
	margin: 8px 0;
}
.social_media a{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 0 8px;
}
.utube:before{
	content: '';
	display: block;
	background-image: url(../images/utube.png);
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
}
.fb:before{
	content: '';
	display: block;
	background-image: url(../images/fb.png);
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
}
.copyright{
	font-size: 12px;
	text-align: center;
}
.contacts_text{
	font-size: 12px;
	margin: 0;
	text-align: center;
}
.contacts_text a{
	color: #000;
	text-transform: none;
}
.social_media a:hover{
	position: relative;
	top: -2px;
}
.footer_menu li:hover{
	border-bottom: 2px solid #ff3333;
	margin-bottom: -2px;
}
.active{
	border-bottom: 2px solid #ff3333;
	margin-bottom: -2px;

}
button:hover{
	cursor: pointer;
}
.clients_search_form{
	display: flex;
	justify-content: center;
}
.clients_region, .clients_area{
	margin: 16px 16px 0;
	height: 31px;
	width: 248px;
	background-color: #fff;

}
.clients_search_form .main_btn{
	margin: 16px 16px 0;
}
.header_clients{
	border-bottom: 1px solid #000;
}
.client_block {
	text-align: center;
}
.wrap_clients:after{
	content: '';
	display: block;
	clear: both;
}
.clients_text{
	font-size: 12px;
	margin: 0;
}
.wrap_clients{
	background-color: #f6f4f5;
	position: relative;
	z-index: 2;
	padding: 16px;
}
.main_btn_clients{
	margin: 16px auto;
	font-size: 32px;
	display: block;
	width: 266px;
	height: 88px;

}
.wrap_text_clients{
	background-color: #fff;
}
.h2_consulting:after{
	content: '+ консультації по перенесенню бухгалтерії';
	display: block;
	font-size: 12px;
	text-align: center;
}
.text_consulting_clients{
		margin: 0 auto;
	}
.update_block{
	max-width: 832px;
	margin: 64px auto;
	background-color: #f9f8f3;
	padding: 36px;
}
.update_date{
	float: left;
}
.update_block_small p{
	float: left;
	max-width: 560px;
}
.update_block_small{
	background-color: #ecebeb;
}
.update_block_small:after{
	content: '';
	display: block;
	clear: both;
}
.main_btn_updates{
	margin: 0 auto;
	display: block;
	font-size: 18px;
}
.add_btn{
	float: right;
	border-radius: 0;
	border: 1px solid #000;
	background-color: initial;
	width: 55px;
	height: 55px;
	font-size: 32px;
	font-weight: bold;
}
.updates_h2{
	margin: 32px 0 0;
	text-align: center;
	font-weight: lighter;
}
.next_update{
	display: flex;
	justify-content: center;
}
.next_update:before{
	content: 'Наступне заплановане оновлення:';
	display: block;
	float: left;
}
.functional_main_heading{
	text-align: center;
	margin: 32px 0 64px;
}
.functional_ol li:before {
    content: '1';
    border-radius: 50%;
    display: block;
    background-color: red;
    width: 25px;
    height: 25px;
    margin-right: 15px;
  	font-size: 14px;
  	color: #fff;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.functional_ol {
    list-style: none;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
.functional_heading{
	font-weight: bold;
	font-size: 18px;
}
.num_marker{
	padding:0 8px;
}
.wrap_text_features{
	margin-bottom: -32px;
}
.wrap_stub_main{
	background-color: #f6f4f5;
}
.logo_wrap{
	min-width: 960px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50%;
	margin: 0 auto
}
.stub_main_heading{
	font-weight: lighter;
	margin: 64px;
	text-align: center;
}
.logo_wrap img{
	width: 100%;
	max-width: 320px;
}
.wrap_stub{
	background-color: #ff3333;
	padding: 64px;
	height: 70%;
}
.wrap_stub .text_consulting_clients{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	height: 90px;
	display: flex;
	align-items: center;
}
.h2_consulting_stub{
	color: #fff;
}
.main_btn_stub{
	background-color: #fff;
	color: #ff3333;
	font-size: 24px;
	height: 46px;
	vertical-align: middle;
	margin-left: 24px;
}
.main_btn_stub:hover{
	color: #fff;
}
.timer{
	display: flex;
	justify-content: center;

}
.timer_days, .timer_hours, .timer_mins, .timer_secs{
	color: #fff;
	font-size: 104px;
	display: block;
}
.timer_days{
	margin-right: 32px;
}
.timer_days:after{
	content: 'Днів';
	display: block;
	color: #fff;
	font-size: 18px;
	text-align: right;
}
.timer_hours:after{
	content: 'Годин';
	display: block;
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.timer_mins:after{
	content: 'Хвилин';
	display: block;
	color: #fff;
	font-size: 18px;
	text-align: left;
}
.timer_secs:after{
	content: 'Секунд';
	display: block;
	color: #fff;
	font-size: 18px;
	text-align: left;
}
.timer_hours:before{
	content: ':';
	display: block;
	font-size: 104px;
	color: #fff;
	float: right;
	margin: 0 16px;
}
.timer_mins:before{
	content: ':';
	display: block;
	font-size: 104px;
	color: #fff;
	float: right;
	margin: 0 16px;
}
.wrap_stub{
	min-width: 960px;
}
.wrap_stub_main{
	min-width: 960px;
}
@media (min-width: 640px){
	.client_block{
	margin: 16px;
	float: left;
	width: calc(50% - 32px);
	display: block;
	}
}
@media (min-width: 960px) {
	header{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.contact_wrap{
		border-left: 1px solid #000;
	}
	.header_menu{
		display: flex;
		width: 133.333%;
	}
	.header_menu a{
		padding: 0 16px;
	}
	.country_choose{
		width: 50%;
		height: 522px;
	}
	.logo_small{
		width: 50%;
		display: flex;
		align-items: center;
	}
	.country_choose_wrap{
		flex-direction: row;
	}
	.wrap_main_video{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 64px 0;
	}
	.main_video{
		height: 279px;
		margin: 0 64px;
	}
	.descr_date{
		align-self: flex-start;
	}
	.update_list{
		align-self: flex-end;
	}
	.features_block{
		width: 25%;
		float: left;
		height: 124px;
		justify-content: center;
	}
	.wrap_bg_img{
		background-size: 200px;
	}
	.wrap_bg_img:before{
		width: 175px;
		height: 175px;
		}
	.finance_wrap:before{
		width: 400px;
		height: 400px;
		bottom: -128px;
	}
	.finance_wrap:after{
		width: 175px;
		height: 175px;
	}
	.wrap_video {
		display: block;
		margin-top: 156px;
	}
	.feedback{
		margin-bottom: 64px;
	}
	.wrap_video video{
		float: right;
		width: calc(33.3333% - 128px);
		margin: 0 64px;
	}
	.wrap_video:after{
		content: '';
		display: block;
		clear: both;
	}
	.wrap_text_consulting{
		margin: 64px 0;
	}
	.tariffs_wrap{
		flex-direction: row;
	}
	.know_more_wrap_text{
		max-width: 760px;
		margin: 0 auto;
	}
	.know_more_wrap_text h3{
		margin-bottom: 64px;
	}
	.know_more_btn{
		display: block;
		margin: 64px auto 24px;
	}
	.know_more_wrap:after{
		width: 350px;
		height: 350px;
	}
	.info_wrap{
		position: absolute;
		top: 15%;
		left: 15%;
	}
	.country_wrap{
		height: 570px;
	}
	footer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 106px;
	}
	.footer_menu{
		justify-content: flex-start;
		}
	.footer_menu a{
		padding:0 4px;
	}
	.copyright{
		text-align: left;
		padding-left: 4px;
		margin: 32px 0 0;
	}
	.social_media-contacts_wrap{
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
	.client_block{
	width: calc(33.333% - 32px);
	}
	.text_consulting_clients span{
	text-align: left;
	}
	.main_btn_clients{
		margin-left: 144px;
		float: right;
	}
	.h2_consulting{
	float: left;
		}
	.wrap_text_features{
		margin-bottom: -32px;
	}
	.main_btn_stub{
		margin-left: 24px;
	}
}